.top_nav {
  background-color: #ffffff;
  padding: 0 30px;
}

.nav_header {
  height: 100%;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}
.nav_header>img{
  width: 160px;
  margin: 18.5px 0;
}

.login_content{
  padding-top: 110px;
}
