
.pro_links a.side{
  padding: 0 3%;
}
.pro_links a.center{
  padding: 0 5%;
}

@media (min-width:600px) {
  .pro_links a.side{
    padding: 0 6%;
  }
  .pro_links a.center{
    padding: 0 10%;
  }
}

.title{
  font-size: 36px;
  font-weight: 700;
  color: #ffffff;
  padding:35px 0;
  background-color: #675df7;
}

.description span{
  display: block;
  color: #333333;
  padding:10px 0;
}

.description .main{
  font-weight:500;
  font-size: 21px;
}
.description .sub{
  font-weight:400;
  font-size: 14px;
}

.pro_links{
  padding: 70px 0;
}

.description{
  padding: 40px 0;
}

.week_table{
  padding: 25px 0;
}
.note_table_row{
  margin: 35px 0;
}

.note_table{
  background-color: #f6f7fb;
  border-radius: 1.4em;
  padding: 50px 0 !important;
  min-height: 380px;
}
